@media (min-width: 1200px) {
.container {
    max-width: 970px;
}
}
@media (min-width:400px){
.global-search {
padding: 20px 0;
}
body {
padding-top: 15px;
padding-bottom: 15px;
background-color: rgb(102, 64, 14);
font-family: 'Roboto', sans-serif;
}
.global-search {
text-align:left;
padding:10px;
}
.global-search .form-control {
    width:500px;
    text-align: left;
    margin-left: 100px
}
.global-search * {
display:grid;
margin-bottom:0;
}
}
.topcorner{
/* position:absolute; */
top:2%;
right:2%;
}
.btn{
background-color: #3d6e15;
border: none
}
.step-links a{
color: #3d6e15;
}

hr{
 width: 90%;
}

#recipeData.ul {
    list-style-type: bullet;
    text-align: left
}
